<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.IDemoMapper">
	
	<resultMap type="com.pompey.upms.system.model.DemoVo" id="BaseResultMap"></resultMap>
	
	<select id="getUserInfoById" resultMap="BaseResultMap">
		select resource_id, login_account, user_name, password from sys_user_info where resource_id=${resourceId}
	</select>
	
	<insert id="insert" parameterType="com.pompey.upms.system.model.DemoVo">
		insert into sys_user_info(resourceId,login_account,user_name,password) values(#{resourceId},#{loginAccount},#{userName},#{password})
	</insert>
	
</mapper>