<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.IRoleMapper">
	<resultMap type="com.pompey.upms.system.model.RoleVo" id="resultMap">
		<result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="role_type" property="roleType" jdbcType="VARCHAR" />
		<result column="role_sort" property="roleSort" jdbcType="DECIMAL" />
		<result column="is_sys" property="isSys" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />
		<result column="org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="org_full_id" property="orgFullId" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="columnList">
		a.resource_id,
		a.role_name,
		a.role_type,
		a.role_sort,
		a.is_sys,
		a.status,
		a.create_by,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks,
		a.org_id,
		a.org_name,
		a.org_full_id
	</sql>


	<!-- 查询列表 -->
	<select id="getList" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_role a
	</select>

	<select id="getVoById" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_role a
		where resource_id=#{resourceId,jdbcType=INTEGER}
	</select>

</mapper>
