<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.ISystemLogMapper">
	<resultMap type="com.pompey.upms.system.model.SystemLogVo" id="resultMap">
		<result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
		<result column="log_type" property="logType" jdbcType="VARCHAR" />
		<result column="log_title" property="logTitle" jdbcType="VARCHAR" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="request_uri" property="requestUri" jdbcType="VARCHAR" />
		<result column="request_method" property="requestMethod" jdbcType="VARCHAR" />
		<result column="request_params" property="requestParams" jdbcType="VARCHAR" />
		<result column="diff_modify_data" property="diffModifyData" jdbcType="VARCHAR" />
		<result column="biz_key" property="bizKey" jdbcType="VARCHAR" />
		<result column="biz_type" property="bizType" jdbcType="VARCHAR" />
		<result column="remote_addr" property="remoteAddr" jdbcType="VARCHAR" />
		<result column="server_addr" property="serverAddr" jdbcType="VARCHAR" />
		<result column="is_exception" property="isException" jdbcType="CHAR" />
		<result column="exception_info" property="exceptionInfo" jdbcType="VARCHAR" />
		<result column="user_agent" property="userAgent" jdbcType="VARCHAR" />
		<result column="device_name" property="deviceName" jdbcType="VARCHAR" />
		<result column="browser_name" property="browserName" jdbcType="VARCHAR" />
		<result column="execute_time" property="executeTime" jdbcType="DECIMAL" />
		<result column="org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="org_full_id" property="orgFullId" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="columnList">
		a.resource_id,
		a.log_type,
		a.log_title,
		a.create_by,
		a.create_by_name,
		a.create_date,
		a.request_uri,
		a.request_method,
		a.request_params,
		a.diff_modify_data,
		a.biz_key,
		a.biz_type,
		a.remote_addr,
		a.server_addr,
		a.is_exception,
		a.exception_info,
		a.user_agent,
		a.device_name,
		a.browser_name,
		a.execute_time,
		a.org_id,
		a.org_name,
		a.org_full_id
	</sql>


	<!-- 查询列表 -->
	<select id="getList" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_log a
	</select>

	<select id="getVoById" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_log a
		where resource_id=#{resourceId,jdbcType=INTEGER}
	</select>

</mapper>
