<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.IUserInfoMapper">
	<resultMap type="com.pompey.upms.system.model.UserInfoVo" id="resultMap">
		
	</resultMap>

	<sql id="columnList">
		a.resource_id,
		a.login_account,
		a.user_name,
		a.password,
		a.email,
		a.mobile,
		a.phone,
		a.sex,
		a.avatar,
		a.sign,
		a.wx_openid,
		a.mobile_imei,
		a.user_type,
		a.ref_code,
		a.ref_name,
		a.mgr_type,
		a.pwd_security_level,
		a.pwd_update_date,
		a.pwd_update_record,
		a.pwd_question_a,
		a.pwd_question_answer_a,
		a.pwd_question_b,
		a.pwd_question_answer_b,
		a.pwd_question_c,
		a.pwd_question_answer_c,
		a.pwd_quest_update_date,
		a.last_login_ip,
		a.last_login_date,
		a.freeze_date,
		a.freeze_cause,
		a.user_weight,
		a.status,
		a.create_by,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks,
		a.org_id,
		a.org_name,
		a.org_full_id,
		a.extend_s1,
		a.extend_s2,
		a.extend_s3,
		a.extend_s4,
		a.extend_i1,
		a.extend_i2,
		a.extend_i3,
		a.extend_i4,
		a.extend_f1,
		a.extend_f2,
		a.extend_f3,
		a.extend_f4,
		a.extend_d1,
		a.extend_d2,
		a.extend_d3,
		a.extend_d4
	</sql>


	<!-- 查询列表 -->
	<select id="getList" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_user_info a
	</select>

	<select id="getVoById" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_user_info a
		where resource_id=#{resourceId,jdbcType=INTEGER}
	</select>

</mapper>
