<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.MenuMapper">
	<resultMap type="com.pompey.upms.system.entity.Menu" id="resultMap">
		
	</resultMap>

	<sql id="columnList">
		a.resource_id,
		a.parent_id,
		a.parent_ids,
		a.parent_names,
		a.sort_number,
		a.menu_leaf,
		a.menu_level,
		a.menu_name,
		a.menu_type,
		a.menu_href,
		a.menu_target,
		a.menu_icon,
		a.menu_color,
		a.permission,
		a.weight,
		a.is_show,
		a.sys_code,
		a.module_codes,
		a.status,
		a.create_by,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks,
		a.extend_s1,
		a.extend_s2,
		a.extend_i1,
		a.extend_i2,
		a.extend_f1,
		a.extend_f2,
		a.extend_d1,
		a.extend_d2
	</sql>


	<!-- 查询列表 -->
	<select id="getList" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_menu a
	</select>

	<select id="getVoById" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_menu a
		where resource_id=#{resourceId,jdbcType=INTEGER}
	</select>


</mapper>
