<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.OrganizationMapper">
	<resultMap type="com.pompey.upms.system.entity.OrganizationVo" id="resultMap">
		
	</resultMap>

	<sql id="columnList">
		a.resource_id,
		a.org_name,
		a.org_code,
		a.org_level,
		a.sort_number,
		a.org_leaf,
		a.parent_id,
		a.parent_org_id,
		a.parent_parent_ids,
		a.full_names,
		a.area_code,
		a.status,
		a.create_by,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks,
		a.extend_s1,
		a.extend_s2,
		a.extend_i1,
		a.extend_i2,
		a.extend_f1,
		a.extend_f2,
		a.extend_d1,
		a.extend_d2
	</sql>


	<!-- 查询列表 -->
	<select id="getList" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_organization a
	</select>

	<select id="getVoById" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_organization a
		where resource_id=#{resourceId,jdbcType=INTEGER}
	</select>


</mapper>
