<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pompey.upms.system.mapper.SystemConfigMapper">
	<resultMap type="com.pompey.upms.system.entity.SystemConfig" id="resultMap">
		
	</resultMap>

	<sql id="columnList">
		a.resource_id,
		a.config_name,
		a.config_key,
		a.config_value,
		a.is_sys,
		a.create_by,
		a.create_date,
		a.update_by,
		a.update_date,
		a.remarks
	</sql>


	<!-- 查询列表 -->
	<select id="getList" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_system_config a
	</select>

	<select id="getVoById" parameterType="java.util.Map" resultMap="resultMap">
		SELECT
		<include refid="columnList" />
		FROM sys_system_config a
		where resource_id=#{resourceId,jdbcType=INTEGER}
	</select>

</mapper>
